.field {
  width: 100%;
  border-radius: 4px;
  transition: 0.5s all;
}
input:focus {
  box-shadow: 0 0 10px 10px #0bde23;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.button {
  background: linear-gradient(90deg, #fcfdfd 0%, #c0d5fa 100%);
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  width: 22%;
  height: 36px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.mainTitle {
  font-size: 36px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}

.field input {
  width: 40%;
  height: 56px;
  display: block;
  padding: 0px 16px;
  text-align: center;
  margin: auto;
  border-radius: 90px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 18px;
  background: linear-gradient(90deg, #fcfdfd 0%, #c0d5fa 100%);
  font-weight: 600;
  line-height: normal;
  /* background-color: transparent; */
  outline: none;
  box-shadow: 0;
  transition: 0.8s background-color ease-in-out, 0.8s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}
